@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body {
    color: #ffffff;
    font-weight: 400;
    font-family: 'Archivo', sans-serif;
}
header {
    font-weight: 700;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 48px;
    background-color: hsl(209, 100%, 38%);
}
@media only screen and (max-width: 700px) {
    header {
      padding: 12px 24px;
    }
}
.meta {
    display: flex;
    align-items: center;
}
.logo {
    margin-right:48px;
    width: 52px;
}
@media only screen and (max-width: 700px) {
    .logo {
      margin-right: 16px;
    }
}
.meta>a:hover {
     transform: scale(1.1);
}
nav ul{
    display: flex;
}
@media only screen and (max-width: 700px) {
    nav ul {
      flex-direction: column;
    }
}
li + li {
    margin-left: 16px;
}
@media only screen and (max-width: 700px) {
    li + li {
      margin-left:0;
      margin-top:4px;
    }
}
.action {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
}
@media only screen and (max-width: 700px) {
    .action {
      flex-direction: column;
    }
}
.action a + a {
    margin-left:12px;
}
@media only screen and (max-width: 700px) {
    .action a + a {
      margin-left: auto;
      margin-top: 6px;
    }
}
.action a {
    display:flex;
    width: 50px;
    padding: 12px 18px;
    border-radius: 12px;
    background-color: #ffffff;
    color:hsl(209, 100%, 38%);
    font-weight: 700;
    justify-content: center;
}
@media only screen and (max-width: 700px) {
    .action a {
        padding: 8px 12px;
    }
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color:#a9a9ad;
}
.hero {
    display: flex;
    position: relative;
}  
.heroimage {
    width: 100%;
    height: auto;
    filter: brightness(10%);
}
.hero-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:75%;
    width: 100%;
}
@media only screen and (max-width: 700px) {
    .hero-action {
        top:60%;
    }
}
h1 {
    font-weight: 800;
    font-size: xx-large;
}
@media only screen and (max-width: 700px) {
    h1 {
        margin-top: 8px;
        font-size: 20px;
    }
}

.hero a {
    margin-top: 24px;
    background-color: hsl(209, 100%, 38%);
    padding: 12px 18px;
    font-weight: 700;
    border-radius: 12px;
    font-size: 16px;
}
@media only screen and (max-width: 700px) {
    .hero a {
        margin-top: 12px;
        font-size: 16px;
   }
}
main {
    background: linear-gradient(hsl(209, 100%, 38%), hsl(209, 100%, 10%));
    padding-bottom: 24px;
}
.grid-container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    column-gap: 250px;
    row-gap: 50px;
    padding:48px 48px;
    font-weight: 500;
    font-size: 16px;
}
@media only screen and (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1;
        grid-template-rows: 5;
        padding: 12px 24px;
   }
}

h2 {
    font-size: 28px;
    font-weight: 700;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
@media only screen and (max-width: 700px) {
    h2 {
        font-size: 22px;
        font-weight: 700;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
   }
}
.feature-1 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
@media only screen and (max-width: 700px) {
    .feature-1 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
   }
}
.feature-2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
@media only screen and (max-width: 700px) {
    .feature-2 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
   }
}
.feature-3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
@media only screen and (max-width: 700px) {
    .feature-3 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
   }
}
.feature-4 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
@media only screen and (max-width: 700px) {
    .feature-4 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
   }
}
.grid-container > div  * {
    margin: 20px 0;
}

.feature {
    font-weight: 700;
    font-size: 20px;
}
.grid-container  p {
    margin-bottom: 30px;
}
.grid-container  a {
    align-items: center;
    padding: 10px 14px;
    border-radius: 12px;
    background-color: #ffffff;
    color: hsl(209, 100%, 38%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
